.nav-social-media {
    background-color: #41474D;
}
.nav-social-media a{
    color: rgb(255, 255, 255);
}
.nav-main {
    background-color: #23282E;
}
.nav-main a{
    color: rgb(255, 255, 255);
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
}
.nav-main a:hover{
    color: rgb(202, 202, 202);
}