<div class="container mt-5">
    <button class="btn btn-outline-primary ml-2 mb-4" (click)="getCountries()">Get Countries</button>
    <button class="btn btn-outline-primary ml-2 mb-4" (click)="orderByCountries()">Order by Countries</button>
    <button class="btn btn-outline-primary ml-2 mb-4" (click)="orderByCapitals()">Order by Capital</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Country</th>
            <th scope="col">Capital</th> 
          </tr>
        </thead>
        <tbody *ngFor="let country of countries">
          <tr>
            <td>{{country.name}}</td>
            <td>{{country.capital}}</td>
          </tr>
        </tbody>
      </table>
</div>
